/Back/venv
/Front/node_modules
/Back/champz
/Back/matches
/Back/transfers
/Back/ChampzWeb/wwwroot/teams
/Back/ChampzWeb/wwwroot/players
/Back/ChampzWeb/wwwroot/Nations
/Back/ChampzWeb/__pycache__
/Back/WebApp/__pycache__
/Back/config.py
/Back/champz.txt
/Back/matches.txt
/Back/transfers.txt
/Back/teams.xlsx
/Back/players.xlsx
*.pyc